body {
    background: #720411;
    border-radius: 10px;
}
.geral {
    margin-top: 35px;
    background: black;
    padding: 20px;
    border-radius: 20px;
    min-width:260px ;
    max-width:2520px ;
    margin: auto;
}
.titulo-principal {
    padding-top:10px ;
    border-radius: 20px;
    height: 70px;
    text-align: center;
    color: white;
    background: black;
}
img {
    width: 100%;
}
.imgdefundo {
   width: 50%; 
}
p {
    color: white;
}
.foto {
    padding-left: 50px;
}
.armas {
    padding-left: 950px;
}