*{
    margin: 0
}
* {
    padding: 0
}

.cabeçalho {
    border-radius: 20px;
    background-color: #000000;
    color: white;
    display: flex; 
    justify-content: space-around;
    padding: 10px
}

.cabeçalho-imagem {
    width: 35%;
}
.cabeçalho-lista-item {
    display: inline-block;
}
