body {
    background: #720411;
    border-radius: 10px;
}
main {
    background: white;
    padding: 20px;
    border-radius: 20px;
    min-width:260px ;
    max-width:2520px ;
    margin: auto;
}
.titulo-principal {
    color: white;
    background: black;
}
img {
    width: 100%;
}